<%= content_tag :div, class: 'media', id: "comment-#{comment.id}" do %>
  <div class="pull-left"><%= image_tag(comment.user.avatar.profile.url) if comment.user.avatar? %></div>
  <div class="comment-body">
    <small>
      <%= comment.user.name %> said: 
      <%= link_to "Delete", comment_url_helper(comment), method: :delete, remote: true %>
    </small>
    <p><%= comment.body  %></p>
  </div>
<% end %>